<%- include ./common/header %>
 
  <div class="container projects">
    <div class="row">
      <div class="text-box">
       <div id="instructions" class="section">
          <%-articles.summary%>
         
         <h2>使用指南</h2>
          <p>按照下面的步骤即可引入此插件并让其顺利的运行。如果在使用过程中发现bug，请提交到<a href="https://github.com/viljamis/responsive-nav.js/issues" target="_blank">GitHub&nbsp;issues</a>.</p>  
        <h3>引入文件</h3>
        <pre class="prettyprint lang-html"><code><span class="com">&lt;!-- 引入这些文件至 &lt;head&gt; 中 --&gt;</span><span class="pln">
        </span><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"responsive-nav.css"</span><span class="tag">&gt;</span><span class="pln">
        </span><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"responsive-nav.js"</span><span class="tag">&gt;&lt;/script&gt;</span></code></pre>

        <h3>添加标签</h3>
        <pre class="prettyprint lang-html"><code><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">id</span><span class="pun">=</span><span class="atv">"nav"</span><span class="tag">&gt;</span><span class="pln">
          </span><span class="tag">&lt;ul&gt;</span><span class="pln">
            </span><span class="tag">&lt;li&gt;&lt;a</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Home</span><span class="tag">&lt;/a&gt;&lt;/li&gt;</span><span class="pln">
            </span><span class="tag">&lt;li&gt;&lt;a</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">About</span><span class="tag">&lt;/a&gt;&lt;/li&gt;</span><span class="pln">
            </span><span class="tag">&lt;li&gt;&lt;a</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Projects</span><span class="tag">&lt;/a&gt;&lt;/li&gt;</span><span class="pln">
            </span><span class="tag">&lt;li&gt;&lt;a</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Contact</span><span class="tag">&lt;/a&gt;&lt;/li&gt;</span><span class="pln">
          </span><span class="tag">&lt;/ul&gt;</span><span class="pln">
        </span><span class="tag">&lt;/div&gt;</span></code></pre>

        <h3>启动此插件</h3>
        <pre class="prettyprint lang-html"><code><span class="com">&lt;!-- 将下面这段代码放置在 &lt;/body&gt; 之前 --&gt;</span><span class="pln">
        </span><span class="tag">&lt;script&gt;</span><span class="pln">
          </span><span class="kwd">var</span><span class="pln"> navigation </span><span class="pun">=</span><span class="pln"> responsiveNav</span><span class="pun">(</span><span class="str">"#nav"</span><span class="pun">);</span><span class="pln">
        </span><span class="tag">&lt;/script&gt;</span></code></pre>

       
        </div>
      </div>

      <div class="panel panel-defatul">
        <div class="panel-heading clearfix">
          <h3 class="pull-left">评论区</h3>
          <div class="pull-right">
            <% if(user){%>
              <% if(user._id == articles.RelationId){ %>
                <a class="btn btn-warning" id="del" style="margin-top: 16px;"  data-id="<%=articles._id%>" href="/delete/<%=articles._id%>" >删除</a>
                <a class="btn btn-success" style="margin-top: 16px;"  href="/editor/<%=articles._id%>">修改</a>
              <%}else{%>
              <h3><span class="label label-default"><%=time%></span></h3>
              <%}%>
            <%}else{%>
              <h3><span class="label label-default"><%=time%></span></h3>
            <%}%>
          </div>
        </div>
        <div class="panel-body">
          <ul class="media-list">
              <li class="media">
                <div class="pull-left">
                  <a href="#"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;"/></a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">from.name</h4>
                  <p>评论评论评论评论评论评论</p>
                  <div class="media">
                      <div class="pull-left">
                          <a href="#"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;"/></a>
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">from.name <span class="text-info">回复</span> to.name</h4>
                          <p>回复内容</p>
                      </div>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>

        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <textarea name="post" style="width: 100%;height:100px;"></textarea>
              <input type="submit" class="btn btn-success pull-right" value="评论" />
            </div>
          </div>
        </form>

    </div>
  </div>

  <script type="text/javascript">
      
      // $('#del').click(function(){

      //     var id = $(this).attr('data-id');
      //     $.ajax({
      //       type: 'POSt',
      //       url: '/delete?id=' + id,
      //       success:function(data){
      //         //window.location="/"; 
      //       }
      //     });

      // });

  </script>

<%- include ./common/footer %>
